<h1>Person Page</h1>
<h2>Pages#Person</h2>

<p><b>The displayed person is: </b></p>
<ul>
  <li><b>Introduction: </b> <%= @person.introduce %></li>
  <li><b>Birth Year: </b> <%= @person.birth_year.to_s %></li>
  <li><b>Nickname: </b> <%= @person.nickname %></li>
</ul>
